AWS_ACCESS_KEY_ID=YOUR_ACCESS_KEY_HERE
AWS_SECRET_ACCESS_KEY=YOUR_SECRET_KEY_HERE
AWS_REGION=us-east-1
S3_RAW_BUCKET=lumi-raw-yourname-1234
S3_PROCESSED_BUCKET=lumi-processed-yourname-1234
DYNAMODB_TABLE=lumi-metadata
PORT=5000
